.op-subway-header {
    margin: 30px auto;
    text-align: center
}


/*初始化所有格式*/

.op-subway-bord ul,
li,
p {
    list-style: none;
    padding: 0;
    margin: 0;
}

.op-subway-bord {
    width: 320px;
    height: auto;
    border: 1px solid #666;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.op-subway-main {
    height: 135px;
    padding: 0 20px;
    position: relative;
}

.op-subway-box {
    height: 25px;
    margin-top: 20px;
    margin-left: 20px;
    width: 280px;
}


/*线路样式*/

.op-subway-line {
    cursor: pointer;
    list-style: none;
    width: 95px;
    height: 24px;
    color: #aaa;
    line-height: 24px;
    border: 1px solid #bdbdbd;
    float: left;
    position: relative;
}

.op-subway-line em {
    font-style: normal;
    font-size: 13px;
    color: #333;
    padding-left: 10px;
}


/*方块中的颜色*/

.op-subway-line em span {
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    left: 8px;
    top: 8px;
}

.op-subway-ul {
    background: #fff;
    z-index: 999;
    height: 188px;
    display: none;
    position: absolute;
    border: 1px solid #bbb;
    top: 24px;
    width: 95px;
    left: -1px;
    overflow-y: scroll;
}

.op-subway-ul li {
    cursor: pointer;
    background: #fff;
    width: 55px;
    height: 31px;
    list-style: none;
    line-height: 31px;
    color: #333;
    padding-left: 22px;
    position: relative;
    font-size: 13px;
}


/*下拉小方块*/

.op-subway-ul li span {
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    left: 8px;
    top: 11px;
}


/*横杆样式*/

.op-subway-jg {
    width: 25px;
    float: left;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ccc;
}

.op-subway-station {
    cursor: pointer;
    width: 120px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #bdbdbd;
    float: left;
    position: relative;
    color: #aaa;
    background: #f7f7f7;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}

.op-subway-k {
    width: 25px;
    height: 24px;
    top: 0;
    position: absolute;
    right: 0;
    border-left: 1px solid #d9d9d9;
    background: url(http: //imgbdb2.bendibao.com/images/icons.jpg) no-repeat center center;
}

.op-subway-station em {
    font-style: normal;
    font-size: 13px;
    padding: 0 10px;
}


/*选择车站下拉*/

.op-subway-ulk {
    z-index: 999;
    display: none;
    width: 200px;
    height: auto;
    position: absolute;
    top: 24px;
    left: -1px;
    border: 1px solid #bbb;
    background: #fff;
}

.op-subway-ulk li {
    cursor: pointer;
    background: #fff;
    list-style: none;
    width: 85px;
    height: 30px;
    float: left;
    line-height: 30px;
    padding-left: 12px;
    color: #333;
    font-size: 13px
}

.op-subway-box-end {
    clear: both;
}


/*按钮*/

.op-subway-calc-false {
    position: absolute;
    left: 0;
    display: inline-block;
    cursor: pointer;
    color: #b8b8b8;
    background: #f5f5f5;
    border: 1px solid #d9d9d9;
    width: 242px;
    height: 25px;
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
}


/*改变之后的按钮*/

.op-subway-calc-fare {
    border: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
    width: 244px;
    height: 26px;
    background: #3188ff;
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    font-size: 13px;
}

.op-subway-ts {
    font-size: 13px;
    position: absolute;
    left: 150px;
    bottom: 23px;
    display: none;
}

.op-subway-tab {
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
    height: 28px;
    border-bottom: 1px solid #d9d9d9;
    background: #fafafa;
    display: none;
    width: 242px;
}


/*涨价后上面*/

.op-subway-on {
    list-style: none;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-top: 2px solid #2b99ff;
    border-bottom: 1px solid #fff;
    color: #333;
    background: #fff;
    z-index: 0;
    width: 100%;
}

.op-subway-li {
    list-style: none;
    width: 100%;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #666;
    font-size: 13px;
    background: #fafafa;
}


/*详情*/

.op-subway-footer {
    display: none;
    overflow: hidden;
    height: auto;
    width: 100%;
    clear: both;
}

.op-subway-text {
    margin: 40px auto 10px auto;
    clear: both;
    padding: 0 40px;
}

.op-subway-title {
    line-height: 20px;
    font-size: 13px;
    color: #666;
}

.op-subway-fareinfo {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0;
}


/*票价字体颜色*/

.op-subway-increase {
    color: #f50;
    font: inherit;
    font-weight: 700;
}


/*各条地铁颜色*/

.op-subway-one {
    background: #e1d01e;
}

.op-subway-two {
    background: #076acf;
}

.op-subway-three {
    background: #f18432;
}

.op-subway-four {
    background: #17a407;
}

.op-subway-five {
    background: #cd0045;
}

.op-subway-six {
    background: #550071;
}

.op-subway-seven {
    background: #80ff00;
}

.op-subway-eight {
    background: #19ab84;
}

.op-subway-nine {
    background: #62ff73;
}

.op-subway-fourteen {
    background: #520000;
}

.op-subway-apm {
    background: #44ffe4;
}

.op-subway-gfx {
    background: #aecb33;
}